/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
	background-color: rgb(41, 41, 41);
	color : white
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
}

img, video {
	width : 100%;
}

.colonne {
	flex-direction : column;
}

.titre {
	flex: 5;
}

