body {
    -moz-user-select: none;
    -webkit-user-select: none;
}

#carre {
    width: 5em;
    height: 5em;
    background-color: red;
    position: absolute;
    top : 2em;
    left : 1em;
}

.obstacle {
    width: 5em;
    height: 5em;
    background-color: green;
    position: absolute;
    top : 10em;
    left : 20em;
}