/* GLOBAL */

html,
body {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none; 
}

div {
    display: flex;
    flex: 1;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.titrePage {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ligne {
    flex: 5;
    display: flex;
}

#main {
    display: block;
}

.img {
    margin: 1em;
    border-radius: 0.5em;
}

.verso {
    display: none;
    border-radius: 0.5em;
}

.recto {
    border-radius: 0.5em;
}

/* .img:hover .imghidden {
    display: flex;
} */

/* .img:hover .imgplage {
    display: none;
} */
#clickClickDiv
{
    font-size: 2em;
    min-height: 2em;
}
#divTime 
{
    font-size: 2em;
    min-height: 2em; 
}
#nbPaire
{
    font-size: 2em;
    min-height: 2em; 
}

