#carre{
    background-color: green;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 100px;
    top: 100px;
}
div{
    display: flex;
    flex: 1;
    justify-content: center;
}
button{
    font-size: 2em;
}
.obstacles{
    background-color: rgb(35, 36, 35);
}
#ob1
{
    width: 5em;
    height: 5em;
    position: absolute;
    left: 150px;
    top: 150px;
}#ob2
{
    width: 7em;
    height: 3em;
    position: absolute;
    left: 500px;
    top: 100px;
}#ob3
{
    width: 3em;
    height: 3em;
    position: absolute;
    left: 40px;
    top: 75px;
}