<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo centre">
            <img src="../../Images/logo.jpg" alt="">
        </div>
        <div id="titre" class="centre">La météo du jour dans votre ville.</div>
        <div></div>
    </header>
    <div>
        <div></div>
        <div class="colonne">
            <div>météo région </div>
            <div>
                <img src="" alt="">
            </div>
            <div id="temp"></div>
        <div id="temp" class="infosmeteo centre">f</div>
        <div id="tempmin" class="infosmeteo centre">f</div>
        <div id="tempmax" class="infosmeteo centre">f</div>
        <div id="humidity" class="infosmeteo centre">d</div>
        <div id="windspeed" class="infosmeteo centre">d</div>
        <div id="sunrise" class="infosmeteo centre">d</div>
        <div id="sunset" class="infosmeteo centre">d</div>
        </div>
        <div></div>
    </div>
</body>

</html>